/*inicio footer*/

footer{
    background-color: rgb(43, 153, 204) ;
    color: white;
    font-family: 'Nunito', sans-serif;
    display: grid;
    padding: 10px;
    grid-template-areas:    "indice none redes"
                            "indice derechos redes";
    
    &_redes{
        grid-area: redes;
        display: flex;
        flex-direction: column-reverse;
        justify-content:space-between;
        align-items:flex-end ;
    }
    
    &_derechos{
        grid-area: derechos;
    }

    span{
        display: block;
    }
}

.footer_indice{
    grid-area: indice;

    & ul li{
        list-style: none;
    }

    & a{
        text-decoration: none;
        color:white;
        text-align: left;
    }

}

.iconos_footer{
    width:35px;
    height: 35px;
    margin:5px;
}

/*fin clases footer*/