/* Inicio de las clases, parte principar de las paginas*/

.entrada{
    @extend .imagen_principal;

    & div{
        @extend .inicios_foto;
        background-image: url("../recursos/inicio1.jpg");
    }

    & h1{
        @extend .inicios_letra;
    }
    
}

/* Fin inicio */
/* Inicio Fauna*/

.entrada_fauna{
    @extend .imagen_principal;

    & div{
        @extend .inicios_foto;
        background-image: url("../recursos/fauna.jpg");
    }

    & h1{
        @extend .inicios_letra;
    }
}

/* Fin inicio Fauna*/
/* Inicio Flora*/

.entrada_flora{
    @extend .imagen_principal;

    & div{
        @extend .inicios_foto;
        background-image: url("../recursos/flora.jpg");
    }

    & h1{
        @extend .inicios_letra;
    }
}

/*Fin Inicio Flora*/
/*Inicio Ayudar*/


.entrada_ayuda{
    @extend .imagen_principal;

    & div{
        @extend .inicios_foto;
        height: 90vh;
        background-image: url("../recursos/reciclaje.jpg");
    }

    & h1{
        @extend .inicios_letra;
        align-items:flex-start;
        padding-top: 55px;
        color: white;
    }
}

/*Fin Inicio Ayuda*/
/*inicio contacto*/

.cc{
    padding-top:48px;
    display: flex;
    align-items: flex-start;
    @extend .imagen_principal;

    & div{
        @extend .inicios_foto;
        height: 70%;
        background-image: url("../recursos/pinguino.jpg");
    
    &:before{
        content: "";
        display: inline-block;
        width: 100vw;
        height: 100%;
        background-image:linear-gradient(to bottom, rgba(128, 128, 128, 0.822), rgba(128, 128, 128, 0.257));
    }
    }

    & h1{
        position: relative;
        bottom: 350px;
        @extend .inicios_letra;
        font-size: 2.4rem;
    }

    & p{
        position: relative;
        bottom: 350px;
        margin: 0 25%; 
        text-align: center;
        font-size: 1.3rem;
        display: flex;
        justify-content: center;
        color: white;
    }
}

/*fin inicio contacto*/
/*fin de los inicios*/