/* Inicio de las clases, parte principar de las paginas*/

.entrada{
    width: 100vw;
    height: 100vh;

    & div{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        background-image: url("../recursos/inicio1.png");
        background-size: cover;
        background-position: center;
    }

    & h1{
        font-size: 3rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 15px 15px 15px rgb(49, 48, 48);
    }
    
}

/* Fin inicio */
/* Inicio Fauna*/

.entrada_fauna{
    width: 100vw;
    height: 100vh;

    & div{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        background-image: url("../recursos/fauna.jpg");
        background-size: cover;
        background-position: center;
    }

    & h1{
        font-size: 3rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 15px 15px 15px rgb(49, 48, 48);
    }
}

/* Fin inicio Fauna*/
/* Inicio Flora*/

.entrada_flora{
    width: 100vw;
    height: 100vh;

    & div{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        background-image: url("../recursos/flora.jpg");
        background-size: cover;
        background-position: center;
    }

    & h1{
        font-size: 3rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 15px 15px 15px rgb(49, 48, 48);
    }
}

/*Fin Inicio Flora*/
/*Inicio Ayudar*/


.entrada_ayuda{
    width: 100vw;
    height: 90vh;

    & div{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 90vh;
        display: flex;
        background-image: url("../recursos/reciclaje.jpg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    & h1{
        padding-top: 55px;
        font-size: 3rem;
        color: black;
        display: flex;
        justify-content: center;
        text-shadow: 5px 5px 5px rgb(49, 48, 48);
    }
}

/*Fin Inicio Ayuda*/
/*inicio contacto*/

.cc{
    width: 100vw;
    height: 100vh;

    & div{
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 70%;
        display: flex;
        background-image: url("../recursos/pinguino.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    & h1{
        font-size: 3rem;
        color: white;
        display: flex;
        margin-left: 30%;
        text-shadow: 5px 5px 5px rgb(49, 48, 48);
    }
}

/*fin inicio contacto*/
/*fin de los inicios*/