
@import"nav";
@import"inicios";
@import"footer";
@import"mediaqueres";

*{
    margin: 0px;
    padding: 0px;
}

header{
    font-family: 'Nunito', sans-serif;
}

nav{
    background-color: rgb(43, 153, 204) ;
}

h1{
    font-family: 'Nunito', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
}


article{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

title{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

/* clases especificas*/

.centrado{
    text-align: center;
}

.centradomedio{
    display: flex;
    justify-content: center;
}

.iconos_footer{
    width:35px;
    height: 35px;
    margin:5px;
}

/* fin clases escificas*/

/*parte secundaria de la pagia, noticias*/

.nna{
    text-decoration: underline;
    // margin:2%;
    color: black;
}

/*fin de la parte secundaria de la pagina*/

/*parte secundaria contacto*/

.letra{
    font-size: 1.5rem;
}

.contenedor_contacto{
    margin-left: 3%;
    margin-top: -13%;
    width: 500px;
    height: 200px;
    background-color: rgb(180, 176, 176);
    border-radius:4% ;
    display: flex;
    align-items: center;
}

.contenedor_texto{
    display: flex;
    text-align: center;
    justify-content: center;
    line-height: 30px;
}

.formulario{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    position: relative;
    left:700px; bottom: 180px;
}

.botom_f{
    width: 60px;
}
/*fin parte secundara ayuda*/