
@import"operators"; 
@import"nav";
@import"inicios";
@import"contacto";
@import"footer";
@import"mediaqueres";

*{
    margin: 0px;
    padding: 0px;
}

header{
    font-family: 'Nunito', sans-serif;
}

nav{
    background-color: rgb(43, 153, 204) ;
}

h1{
    font-family: 'Nunito', sans-serif;
}

h2{
    font-family: 'Nunito', sans-serif;
}


article{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

title{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

/* clases especificas*/

.centrado{
    text-align: center;
}

.centradomedio{
    display: flex;
    justify-content: center;
}

.iconos_footer{
    width:35px;
    height: 35px;
    margin:5px;
}

/* fin clases escificas*/

/*parte secundaria de la pagia, noticias*/

.nna{
    text-decoration: underline;
    color: black;
}

/*fin de la parte secundaria de la pagina*/


/*fin parte secundara ayuda*/
// Botones de parte de ayuda

.boton_ayuda{
    display: flex;
    justify-content: flex-end;

    &_a{
        @extend .boton_general;
        background-image: linear-gradient(to right top, #7bfcff, #56ebff, #2fdaff, #0ac7ff, #1ab4fb);
    
    &:hover{
        transform: scale(1.10, 1.10);
        transition: 1s;
    }
    }
}

// fin parte ayuda